 <!DOCTYPE html>
<html>

<head>
    <title>Create Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_student.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div class="form-container">
        <h1>Create a new student</h1>

        <form id="createForm" action="/create_student" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age"><br>
            <label for="class_">Class:</label><br>
            <input type="text" id="class_" name="class_"><br>
            <label for="school">School:</label><br>
            <input type="text" id="school" name="school"><br>
            <label for="parental_income">Parental Income:</label><br>
            <input type="text" id="parental_income" name="parental_income"><br>
            <label for="help_type">Help Type:</label><br>
            <input type="text" id="help_type" name="help_type"><br>
            <input type="submit" value="Submit">
        </form>

        <a class="button" href="/">Back to home</a>
    </div>

    <script>
        $('#createForm').submit(function (e) {
            e.preventDefault();

            // Send POST request
            $.ajax({
                url: '/create_student',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Success!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/';
                        }
                    });
                }
            });
        });
    </script>
</body>

</html> 







<!-- <!DOCTYPE html>
<html>

<head>
    <title>Create Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_student.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card_title">
                <h1>Create a new student</h1>
                <span> <a href="/">Back to home</a></span>
            </div>
            <div class="form">
                <form id="createForm" action="/create_student" method="post">
                    <input type="text" id="name" name="name" placeholder="Name">
                    <input type="text" id="age" name="age" placeholder="Age">
                    <input type="text" id="class_" name="class_" placeholder="Class">
                    <input type="text" id="school" name="school" placeholder="School">
                    <input type="text" id="parental_income" name="parental_income" placeholder="Parental Income">
                    <input type="text" id="help_type" name="help_type" placeholder="Help Type">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        $('#createForm').submit(function (e) {
            e.preventDefault();

            // Send POST request
            $.ajax({
                url: '/create_student',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Success!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/';
                        }
                    });
                }
            });
        });
    </script>
</body>

</html> -->