<!DOCTYPE html>
<html>
<head>
    <title>NGO Main Page</title>
</head>
<body>
    <h1>Welcome to the NGO Management System</h1>
    
    <button onclick="window.location.href='/gallery'">Gallery</button>
    <button onclick="window.location.href='/contact'">Contact</button>
    <button onclick="window.location.href='/donate'">Donate</button>
    <button onclick="window.location.href='/login_volunteer'">Volunteer</button>
    <button onclick="window.location.href='/login'">Admin</button>
</body>
</html>