body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    box-sizing: border-box;
}

form {
    display: grid;
    gap: 10px;
}

input[type="text"], input[type="submit"], .button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    box-sizing: border-box;
    margin: 10px 0;
}

input[type="submit"], .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

input[type="submit"]:hover, .button:hover {
    background-color: #45a049;
}

.button {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    margin: 2px 0;
}

.button:hover {
    background-color: #007B9A;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
        padding: 10px;
    }

    input[type="text"], input[type="submit"], .button {
        padding: 5px;
    }

    input[type="submit"], .button {
        padding: 5px 10px;
    }

    .button {
        padding: 1px 2.5px;
        margin: 1px 0;
    }
}